# TODO: swap this git ref for a PyPI pin once a hydra-genetics release supports
# Snakemake 9 / Python 3.12. A git ref is fine on the migration branch, not in a release.
hydra-genetics @ git+https://github.com/hydra-genetics/hydra-genetics.git@migrate-to-snakemake9-python3.12
pandas>=1.3.1
snakemake>=9.0.0,<10
