$schema: "http://json-schema.org/draft-04/schema#"
description: snakemake configuration file
type: object
properties:

  samples:
    type: string
    description: path to samples.tsv file

  units:
    type: string
    description: path to units.tsv file

  default_container:
    type: string
    description: name or path to a default docker/singularity container

  add_mosdepth_coverage_to_gvcf:
    type: object
    description: parameters for add_mosdepth_coverage_to_gvcf
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  add_multi_snv_in_codon:
    type: object
    description: parameters for add_multi_snv_in_codon
    properties:
      af_limit:
        type: number
        description: lower af limit for variants to be considered
      artifact_limit:
        type: number
        description: upper non-inclusive artifact limit for variants to be considered
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  annotate_cnv:
    type: object
    description: parameters for annotate_cnv
    properties:
      bed:
        type: string
        description: bed file with gene names
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  artifact_annotation:
    type: object
    description: parameters for artifact_annotation
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  background_annotation:
    type: object
    description: parameters for background_annotation
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      nr_min_sd:
        type: integer
        description: number of standard deviations from median to not get a filter flag

  bcftools_annotate:
    type: object
    description: parameters for bcftools_annotate
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      annotation_db:
        type: string
        description: annotation database in vcf or bed file format
      output_type:
        type: string
        description: output file packing type (b,u,z,v) z=bgzipped
      annotation_string:
        type: string
        description: annotation parameters
      extra:
        type: string
        description: parameters that should be forwarded

  bcftools_sort:
    type: object
    description: parameters for bcftools_sort
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  bgzip_vcf:
    type: object
    description: parameters for bgzip_vcf
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  calculate_seqrun_background:
    type: object
    description: parameters for calculate_seqrun_background
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
  
  echtvar_anno:
    type: object
    description: parameters for echtvar_anno
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  hotspot_annotation:
    type: object
    description: parameters for hotspot_annotation
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      chr_translation_file:
          type: string
          description: chromosome translation file (NCXXXX to chrXX)

  reference:
    type: object
    description: collection of reference files
    properties:
      artifacts:
        type: string
        description: path to artifact file containing caller specific variant observation counts
      background:
        type: string
        description: path to background file containing median and sd values for non-reference alleles per position

  simple_sv_annotation:
    type: object
    description: parameters for simple_sv_annotation
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container

  snpeff:
    type: object
    description: parameters for snpeff
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  stranger:
    type: object
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated for stranger
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  tabix_vcf:
    type: object
    description: parameters for tabix_vcf
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  vep:
    type: object
    description: parameters for vep
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded
      mode:
        type: string
        description: use online queries (--database) or offline queries (e.g. --offline --cache --refseq)
      vep_cache:
        type: string
        description: path to vep cache directory

required:
  - samples
  - units
  - default_container
